.Header {
    background-color: #fdd538;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navLink a {
    margin-top: 100px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.logo {
    margin-top: 30px;
}