.Contact {
    background-color: #121212;
    color: #fff;
    width: calc(100vw - 60px);
}

.Wrapper {
    position: absolute;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Bungee Outline', cursive;
    color: white;
    font-size: 4vw;
}


.Wrapper p {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2vw;
}

* {
    box-sizing: border-box;
}

form {
    font-size: 1vw;
    background: #121212;
    margin-top: 1vw;
    width: 40vw;
}

form input {
    font-size: large;
    background: #121212;
    width: 40vw;
}

form input:not(.FormButton) {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.5vw;
    color: white;
    height: 3vw;
    margin-bottom: 1vw;
    background: #2b2b2b;
    border: 1px solid #121212;
}


input,
textarea {
    width: 100%;
    background: #2b2b2b;

    margin-bottom: 0.5vw;
    margin-bottom: 0.5vw;
    border: 1px solid #2b2b2b;
    border-radius: 10px 10px 10px 10px;
}

textarea {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.6vw;
    background: #2b2b2b;
    color: white;
    height: 12vw;
    resize: none;
    margin-bottom: 0.5vw;
    margin-top: 0.3vw;
    border: 1px solid #2b2b2b;
    border-radius: 10px 10px 10px 10px;
}


input:focus,
textarea:focus {
    outline: 1px solid #c471ed;
}


.BusinnessCard {
    position: absolute;
    left: 75%;
    top: 40%;
    transform: translate(-50%, -50%);
}

::-moz-placeholder {
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.2;
}

input:not(.FormButton):focus,
textarea:focus {
    border: 1px solid #c471ed;
    border-radius: 10px 10px 10px 10px;
    outline: 0;
}

.FormButton {
    width: 100%;
    font-size: large;
    font-weight: bold;
    background-color: #ff3bbc;
    height: 3vw;
    border: 0px solid #ff3bbc;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 150px 50px rgba(255, 59, 188, 0.15);
    -moz-box-shadow: 0px 0px 150px 50px rgba(255, 59, 188, 0.15);
    box-shadow: 0px 0px 150px 50px rgba(255, 59, 188, 0.15);
}

.FormButton:active {
    background-color: #2B2B2B;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 59, 188, 0.2);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 59, 188, 0.2);
    box-shadow: 0px 0px 0px 0px rgba(255, 59, 188, 0.2);
}

.BusinnessCardWrap {
    position: absolute;
    left: 75%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.MobileVisitCard {
    display: none;
}

@media screen and (max-width: 1024px) {
    .BusinnessCardWrap {
        top: 40%;
    }

    .Contact {
        width: 100vw;
        height: 100vh;
    }

    .Wrapper {
        left: 32%;
        top: 50%;
    }

    h2 {
        font-size: 5vw;
    }

    .Wrapper p {
        font-size: 2.5vw;
    }

    form {
        width: 45vw;
    }

    form input {
        font-size: 1.5vw;
    }


    form input:not(.FormButton) {
        height: 4vw;
        margin-bottom: 1vw;
        font-size: 1.5vw;
    }

    textarea {
        font-size: 1.6vw;
        height: 14vw;
    }

    .FormButton {
        height: 4vw;
    }

    .BusinnessCardWrap {
        left: 77%;
        top: 40%;
    }

    .MobileVisitCard {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .BusinnessCardWrap {
        display: none;
    }

    .Contact {
        width: 100vw;
        height: 100vh;
        min-height: 700px;
    }

    .Wrapper {
        width: 90vw;
        height: 50vh;
        left: 52%;
        top: 32%;
    }

    h2 {
        font-size: 8vw;
    }

    .Wrapper p {
        font-size: 4.5vw;
    }

    form {
        width: 85vw;
    }

    form input:not(.FormButton) {
        font-size: 2.6vw;
        height: 7vw;
        margin-bottom: 1vw;
    }

    textarea {
        font-size: 2.6vw;
        height: 14vw;
    }

    .FormButton {
        margin-top: 1vw;
        height: 7vw;
        margin-bottom: 30px;
    }

    .MobileVisitCard {
        display: block;
        position: absolute;
        top: 60%;
        left: 7.5%;
        width: 85vw;
        height: 200px;
        background-color: rgba(43, 43, 43, 1);
        height: 33vh;
        background-color: rgba(43, 43, 43, 1);
        color: #0fffc1;
        animation: textColor 5s ease infinite;
    }

    .MobileVisitCard h1 {
        font-size: 7vw;
        padding-left: 10px;
    }

    .MobileVisitCard p {
        font-size: 4vw;
        padding-left: 10px;
    }

    .ContactNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 8%;
        padding-left: 43%;
    }

    .logo {
        margin-right: 15px;
    }

    .logo img {
        height: 30px;
    }

    @keyframes textColor {
        0% {
            color: #c471ed;
        }

        50% {
            color: #0fffc1;
        }

        100% {
            color: #c471ed;
        }
    }
}

@media screen and (max-height: 600px) {
    .MobileVisitCard {
            display: none;
        }
}