@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

.About {
    background-color: black;
    min-width: calc(100vw - 60px);
    color: #ffffff;
}

.NamePage {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 7vw;
    position: absolute;
    left: 20%;
    top: 14%;
    transform: translate(-50%, -50%);
    opacity: .3;
}

.Content {
    backdrop-filter: blur(4px);
    padding: 20px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2.4vw;
    width: 60%;
    border: 2px solid #fff;
    height: 70%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.SpaceMan {
    background-color: none;
        position: absolute;
            left: 75%;
            top: 20%;
            transform: translate(-50%, -50%);
                    animation-duration: 5s;
                        animation-iteration-count: infinite;
                        transform-origin: bottom;
}
        .bounce {
            animation-name: bounce;
            animation-timing-function: linear;
        }
    
        @keyframes bounce {
            0% {
                transform: translateY(0);
            }
    
            50% {
                transform: translateY(-15px);
            }
    
            100% {
                transform: translateY(0);
            }
        }