@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');

.About {
    background-color: black;
    min-width: calc(100vw - 60px);
    color: #ffffff;
}

.Particles {
    width: 100vw;
    height: 100vh;
}

.NamePage {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 7vw;
    position: absolute;
    left: 24%;
    top: 13%;
    top: 13%;
    transform: translate(-50%, -50%);
    opacity: .3;
}

.Content {
    backdrop-filter: blur(4px);
    padding: 20px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2vw;
    width: 60%;
    border: 2px solid #fff;
    height: 70%;
    position: absolute;
    left: 43%;
    top: 48%;
    transform: translate(-50%, -50%);

}

.SpaceMan {
    background-color: none;
    position: absolute;
    left: 75%;
    top: 20%;
    transform: translate(-50%, -50%);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .About {
        background-color: black;
        width: 100vw;
        height: 100vh;
        color: #ffffff;
    }

    .Particles {
        width: 100vw;
        height: 100vh;
    }

    .NamePage {
        left: 19%;
        top: 28%;
    }

    .Content {
        width: 55%;
        height: 55%;
        left: 35%;
        top: 55%;
        font-size: 2.5vw;
        padding-top: 4.5vh;
    }

    .SpaceMan {
        left: 67%;
        top: 30%;
    }

}

@media screen and (max-width: 500px) {
    .About {
        background-color: black;
        width: 100vw;
        height: 100vh;
        color: #ffffff;
    }

    .Content {
        backdrop-filter: blur(2px);
    }

    .Particles {
        width: 100vw;
        height: 100vh;
    }

    .NamePage {
        left: 19%;
        top: 10%;
    }

    .Content {
        width: 80%;
        height: 55%;
        left: 50%;
        top: 37.5%;
        font-size: 4.5vw;
        padding-top: 4.5vh;
    }

    .SpaceMan {
        left: 30%;
        top: 50%;
        font-size: 4vw;
        padding-top: 4vh;
    }

    .SpaceMan {
        left: 40%;
        top: 48%;
    }
                .SpaceMan img{
                    width: 75%;
                }
}