.Skills {
    background-color: black;
    color: #fff;
    width: calc(100vw - 60px);
}


.NamePage {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: 7vw;
    position: absolute;
    left: 83%;
    top: 90%;
    transform: translate(-50%, -50%);
    opacity: .3;
}

.Frontend {
    left: 30%;
}

.Backend {
    left: 75%;
}



h3 {
    text-align: center;
}

.BlockStyles {
    backdrop-filter: blur(4px);
    padding: 20px;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2vw;
    width: 37%;
    border: 2px solid #fff;
    min-height: 75%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul{
    padding-top: 2vh;
    padding-left: 4vw;
}
ul li {
    list-style-type: circle;
    
}


@media screen and (max-width: 1024px) {
    .Skills {
        width: 100vw;
        height: 100vh;
    }

    .NamePage {
        left: 80%;
        top: 80%;
    }

    .Frontend {
        left: 27%;
    }

    .Backend {
        left: 72%;
    }



    .BlockStyles {
        backdrop-filter: blur(4px);
        padding: 20px;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 2.5vw;
        width: 100%;
        border: 2px solid #fff;
        /* height: 60%; */
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 500px) {
    .Skills{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .NamePage {
        left: 80%;
        top: 95%;
    }

    .BlockStyles {
        display:block;
        position:inherit;
        margin: 0 auto;
        backdrop-filter: blur(2px);
        width: 70%;
        font-size: 4.5vw;
        min-height: 20%;
            top: 0;
            transform: translate(0, 0);
    }

        .Frontend {
            margin-top: 40px;
            left: 0;
            /* min-height: 40%; */
        }
    
        .Backend {
            left: 0;
            /* min-height: 20%; */
        }

}